body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.main-frame{
    width: 350px;
    min-height: 530px;
    height: auto;
    padding: 50px;
    border-radius: 12px;
    background-color: grey;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover{
        box-shadow: 8px 16px 32px 0 rgba(0,0,0,0.2);
    }
}

.outer-screen{
    width: 300px;
    height: 100px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 60px;
    line-height: 100px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: inset 0px 0px 10px #030303, inset 0px -4px 1px rgba(150, 150, 150, .2);
    .screen{
        float: right;
    }
}

.buttons-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
    height: 80%;
    .button{
        width: 75px;
        height: 75px;
        border: 1px solid black;
        background-color: whitesmoke;
        border-radius: 5px;
        margin: auto;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        &:active{
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
            transform: translateX(2px) translateY(2px);
        }
        &.triple-button{
            width: 250px;
        }
    
        &.clear{
            background-color: red;
        }
    
        &.equals{
            background-color: green;
        }
        &.remove{
            background-color: orange;
        }
    }
}